*{
	margin: 0;
	padding: 0;
	
}
.navbar{

border: none;
background-color: rgb(56, 6, 6);
color: #000000;
}
body{
	background-color: #000000;
	color: white;
}
.glyphicon{
	font-size: 30px;
	color:#000000; 
}

.center{
	width: 90%;
	background-color: rgb(56, 6, 6);

}
.container
{
	background-color: rgb(56, 6, 6);
}
.text-center{
	font-size: 30px;
}

h2{
	text-align: center;
}
#myNavbar ul li a {
	color: #61122F;
}
.navbar-brand{
font-size: 30px;	
}